.contact-section-new {
    padding: 60px 20px;
    height: 100%;
  }
  
  .contact-container-new {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.212);
    color: white;
    border-radius: 20px;
    padding: 40px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    max-width: 1100px;
    margin: auto;
  }
  
  .contact-info-new {
    flex: 1;
    min-width: 300px;
    margin-right: 40px;
  }
  
  .contact-info-new h2 {
    font-size: 2.2rem;
    color: #ff3b3f;
    margin-bottom: 10px;
  }
  
  .contact-info-new h2 span {
    color: #fff;
  }
  
  .contact-info-new p {
    margin: 10px 0;
    color: #fff;
    font-size: 1rem;
  }
  
  .info-box {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
  }
  
  .info-box p {
    margin: 10px 0;
    color: #444;
    word-break: break-word;     /* Wrap only if needed */
    /* overflow-wrap: break-word; Ensures wrapping on long words */
  }
  
  .info-box a {
    color: #ff3b3f;
    font-weight: bold;
    text-decoration: none;
    word-break: break-word;
    overflow-wrap: break-word;
  }
  
  .contact-form-new {
    flex: 1;
    min-width: 300px;
  }
  
  .contact-form-new h3 {
    font-size: 1.8rem;
    color: #ff3b3f;
    margin-bottom: 20px;
  }
  
  .contact-form-new form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form-new input,
  .contact-form-new textarea {
    padding: 12px 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .contact-form-new button {
    background-color: #ff3b3f;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form-new button:hover {
    background-color: #e3262c;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .contact-container-new {
      flex-direction: column;
      padding: 30px 15px;
    }
  
    .contact-info-new {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 480) {
    .info-box p { 
      text-align: left;
     }
  }
  .success-msg {
    margin-top: 10px;
    color: green;
    font-size: 14px;
  }
  