.footer {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: #222;
    border-top: 1px solid #ccc;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-left h4 {
    margin: 0 0 5px;
    font-size: 20px;
    font-weight: 700;
    color: red;
  }
  
  .footer-left p {
    margin: 0;
    font-size: 14px;
    color: #fff;
  }
  
  .footer-center {
    font-size: 13px;
    color: #888;
    margin-top: 10px;
  }
  
  .footer-right {
    display: flex;
    gap: 15px;
  }
  
  .footer-right a {
    display: inline-block;
    transition: transform 0.3s;
  }
  
  .footer-right img {
    width: 28px;
    height: 28px;
  }
  
  .footer-right a:hover {
    transform: scale(1.1);
  }
  
  /* Responsive for small screens */
  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .footer-left,
    .footer-right {
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  
    .footer-right {
      flex-direction: row;
      justify-content: center;
      margin-top: 10px;
    }
  
    .footer-center {
      margin-top: 15px;
    }
  }

  @media (max-width: 480px) {
  .footer-right {
    gap: 30px;
  }
  .footer-right img {
    width: 35px;
    height: 35px;
  }
  }